
html {
    font-family: sans-serif;
    background-color: #799bd3; 
  }
  /*
  div:first-of-type {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
  }
  */
  label {
    margin-right: 8px;
    line-height: 20px;
  }
  
  input {
    /*
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    */

    border-radius: 200%;
    width: 50px;
    height: 16px;
  
    border: 10px solid #999;
    transition: 0.2s all linear;
    margin-right: 8px;
  
    top: 4px;
  }
  
  
  
  button.submit {
    background-color: white;
    color: black;
    outline: 1px solid black;
  }

  div.button {
    width: 900px;
    padding: 10px;
    margin: 20px;
  
    
  }

  .aa {
    display:block;
  }

  div.abc {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
       
      padding: 15px 30px;
      background: rgba(0,0,0,0.4);
      color: #fff;
      text-align: center;
      width: 300px;
    }

    h1 {
      font-size: 2.3em;
    }
    