/* General styles */

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
}

body {
  width: 100em;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.2em;
}

h3 {
  font-size: 2.3em;
}

h4 {
  font-size: 1.8em;
}

p {
  font-size: 1.5em;
}

/*+++ more specific section styles +++*/

/* header and footer */

header, footer {
  height: 10em;
  padding: 2em;
}

h1, footer p {
  margin: 0px;
}

h1 {
  text-align: center;
  padding: 0.5em 0;
}

/* main content */

main {
  padding: 2em;
}

main p, main li {
  line-height: 2;
}

div.zentai1 {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 160px 160px 160px;
  grid-gap: 100px;

  width: 900px;
  background: bisque;
}

/*div.box {
  background: cyan;
}
*/


div.daimei1 {
  background: #ff80eb;
  border: 5px solid #367bff;
}

div.daimei2 {
  background: #ffd4f6;
}

div.zentai2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 160px 160px ;
  grid-gap: 100px;

  width: 900px;
  background: bisque;
}

div.zentai3 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 160px 160px 160px;
  grid-gap: 100px;

  width: 900px;
  background: bisque;
}
