/* General styles */

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
}

body {
  width: 80em;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.2em;
}

pli {
  font-size: 1.7em;
}

/*+++ more specific section styles +++*/

/* header and footer */

header, footer {
  height: 10em;
  padding: 2em;
}

h1, footer p {
  margin: 0px;
}

h1 {
  text-align: center;
  padding: 0.5em 0;
}

/* main content */

main {
  padding: 2em;
}

main p, main li {
  line-height: 2;
}

div.zentai {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 100px;

  width: 500px;
}

/*div.box {
  background: cyan;
}
*/


div.daimei1 {
  background: #ff80eb;
}

div.daimei2 {
  background: #ffd4f6;
}
/*
div.daimei2 {
  background: #e8d1a5;
}
